body {
    margin: 0px;
    color: #FFFFFF;
}

h1,
p,
ul {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}