.header-bg {
    background-color: #000000;
}

.header {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1160px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    color: var(--cor-w);
    font-size: 1.12rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 10px 0px;
    position: relative;
}

.header-menu a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-top: 5px;
    position: absolute;
    background-color: #FFF;
    transition: 0.3s;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu a {
        background-color: var(--cor-11);
        padding: 10px 14px;
        border-radius: 5px;
    }
    .header-menu a:hover {
        background-color: var(--cor-10);
    }
    .header-menu {
        gap: 20px;
    }
    .header-menu a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu a {
        font-size: 14px;
        padding: 6.7px 12px
    }
    .header-menu {
        gap: 15px;
    }
}