/*** Global ***/

@import url("../global/global.css");
@import url("../global/header.css");

/*** Utilidades ***/

@import url("../utilidades/cores.css");
@import url("../utilidades/tipografia.css");

/*** Main ***/

@import url("../main/introducao.css")