.introducao-bg {
    background-color: var(--cor-12);
    box-shadow: inset 0 -120px 0px #FFF;
}

.introducao {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    max-width: 1160px;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px 20px;
}

.introducao-conteudo {
    align-self: flex-end;
    padding-top: 150px;
    padding-bottom: 190px;
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
}

.introducao-conteudo p {
    margin-bottom: 20px;
}

.introducao-imagem img {
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

.introducao-conteudo a {
    background: linear-gradient(#FFBF00, #F2A50C);
    padding: 16px 32px;
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--cor-p5);
    text-transform: uppercase;
}